header{
    width: 100%;
}

.container-menu{
    width: 100%;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    max-width: 100%;
}

ul{
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.menu {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-7/cur683.cur), auto !important;
    transition: transform .3s;
}

.menu:hover {
    transform: scale(1.2);
}