@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Orbitron:wght@600&family=Pixelify+Sans:wght@600&display=swap');

/*---------------------------------MENU----------------------------------------------*/
*{
    margin: 0px;
    font-family: 'Chakra Petch', sans-serif;
}

html{
    overflow-x: hidden;
}

header{
    width: 100%;
}

.container-menu{
    width: 100%;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    max-width: 100%;
}

ul{
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.menu {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-7/cur683.cur), auto !important;
    transition: transform .3s;
}

.menu:hover {
    transform: scale(1.2);
}


/*---------------------------------AUSTRALIA.HTML----------------------------------------------*/


.container-mapa{
    width: 100%;
    height: 600px;
    display: grid;
}

#map{
    width: 70%;
    height: 70%;
    justify-self: center;
    align-self: center;
}

.container-text{
    margin-top: 150px;
    display: grid;
    justify-content: center;
    align-content: center;
}